<div class="row">
  <div class="col-12"> 
      &nbsp;<img src="http://www.sismologia.cl/img/ssuch.png" style="background-color:black;" width="100%" height="120px">&nbsp;
  </div>
</div>

<div class="row">
  <div class="col-12" style="text-align: center"><h3>Métricas - CSN</h3></div>
</div>
<hr>
<div class="row" style="text-align: center"> 
  
  <div class="col-12"> 
      <form [formGroup]="periodForm" (ngSubmit)="onSubmit()" validate> 
      
      <label>
      <p class="text-primary">&nbsp;&nbsp;fecha inicial: 
      <input type="date" formControlName="fecha_ini" required>&nbsp;
      </p>
      </label>

      <label>
      <p class="text-primary">&nbsp;fecha final:
      <input type="date" formControlName="fecha_fin" required>&nbsp;
      </p>
      </label>
      <label>
      <p class="text-primary">&nbsp;Zonas&nbsp;: &nbsp;</p>
      </label>
      <label>
           <div *ngFor="let cont of controlname" class="form-check-inline">
           <input type="checkbox" class="form-check-input"  formControlName="{{cont[0]}}">{{ cont[1] }}
           </div>
      </label>&nbsp;  
         
      <label>
      <button type="submit"  class="btn btn-primary btn-sm" [disabled]="!periodForm.valid">Consultar</button>
      </label>&nbsp;
      <label><button type="button" class="btn btn-primary btn-sm" [disabled]="!periodForm.valid">Bajar datos</button></label>

    </form>
  </div>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified">

  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#datos">Informes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#estaciones">Estaciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#eventos">Eventos</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#ratios">Ratios</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content  nav-justified">
  <div class="tab-pane container active" id="datos"><app-datos></app-datos></div>
  <div class="tab-pane container" id="estaciones"><app-estaciones></app-estaciones></div>
  <div class="tab-pane container" id="eventos"><app-eventos></app-eventos></div>
  <div class="tab-pane container" id="ratios"><app-ratios></app-ratios></div>
</div>


