<div class="row">
  <div class="col-12"> 
      &nbsp;<img src="http://www.sismologia.cl/img/ssuch.png" style="background-color:black;" width="100%" height="120px">&nbsp;
  </div>
</div>

<div class="row">
  <div class="col-12" style="text-align: center"><h3>Métricas - CSN</h3></div>
</div>
<hr>
<div class="row"> 
  
  <div class="col-12"> 
      <form [formGroup]="periodForm" (ngSubmit)="onSubmit()" validate> 
      
      <label>
      <p class="text-primary">&nbsp;&nbsp;fecha inicial: 
      <input type="date" formControlName="fecha_ini" required>&nbsp;
      </p>
      </label>

      <label>
      <p class="text-primary">&nbsp;fecha final:
      <input type="date" formControlName="fecha_fin" required>&nbsp;
      </p>
      </label>
      <label>
      <p class="text-primary">&nbsp;Zonas&nbsp;: &nbsp;</p>
      </label>
      <label>
           <div *ngFor="let cont of controlname" class="form-check-inline">
           <input type="checkbox" class="form-check-input"  formControlName="{{cont[0]}}">{{ cont[1] }}
           </div>
      </label>&nbsp;  
         
      <label>
      <button type="submit"  class="btn btn-primary btn-sm" [disabled]="!periodForm.valid">Consultar</button>
      </label>&nbsp;
      <label><button type="button" class="btn btn-primary btn-sm" [disabled]="!periodForm.valid">Bajar datos</button></label>

    </form>
    </div>
<div>
  
<div class="row">
  <div class="col-12">    
 
  <div class="container" style="text-align: center;" >
  
    
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#datos">Datos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#estaciones">Estaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#eventos">Eventos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ratios">Ratios</a>
        </li>
  
      </ul>
    
      
      <!-- Tab panes -->
      <div class="tab-content" style="text-align: center;">
        <div id="home" class="container tab-pane active" ><br>
          <h3>HOME</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div id="datos" class="container tab-pane fade"><br>
          <app-datos></app-datos>
        </div>
        <div id="estaciones" class="container tab-pane fade"><br>
          <app-estaciones></app-estaciones>
        </div>
        <div id="eventos" class="container tab-pane fade"><br>
          <app-eventos></app-eventos>
        </div>
        <div id="ratios" class="container tab-pane fade"><br>
          <app-ratios></app-ratios>
        </div>

      </div>
    </div>  
  </div>
</div>


