
<div class="row" style="text-align: center"> 
  
  <div class="col-12"   style="text-align: left"> 
    <form [formGroup]="periodForm" (ngSubmit)="onSubmit()" validate> 
      
      <label>
      <p class="text-primary">&nbsp;&nbsp;fecha inicial: 
      <input type="date" formControlName="fecha_ini" required>&nbsp;
      </p>
      </label>

      <label>
      <p class="text-primary">&nbsp;fecha final:
      <input type="date" formControlName="fecha_fin" required>&nbsp;
      </p>
      </label>
      <label>
      <p class="text-primary">&nbsp;Zonas&nbsp;: &nbsp;</p>
      </label>
      <label>
           <div *ngFor="let cont of controlname" class="form-check-inline">
           <input type="checkbox" class="form-check-input"  formControlName="{{cont[0]}}">{{ cont[1] }}
           </div>
      </label>&nbsp;  
         
      <label>
      <button type="submit"  class="btn btn-primary btn-sm" [disabled]="!periodForm.valid">Consultar</button>
      </label>&nbsp;
      <label><button type="button" class="btn btn-primary btn-sm" (click)="pull()" [disabled]="!periodForm.valid">Bajar datos</button></label>
    </form>
  </div>
</div>

<div class="row" *ngIf="tipo=='tabla'">
  <div class="col-12">
    <h3>Informes</h3> 
    <div style="text-align: left;">
      
      <table class="table table-bordered table-sm">
        <thead>
          <tr><th  *ngFor="let c of cabecera">{{ c }}</th></tr>
          <tr *ngFor="let datos of tabla  |paginate: { itemsPerPage: 20, currentPage: p } ">     
          <td class="text-sm-justify" *ngFor="let c of cabecera" >
          <div *ngIf=" c === 'data'; else losDemas" >
                   {{ datos['data'] | json }}
          </div>
          <ng-template #losDemas>
               {{ datos[c]}} 
          </ng-template>
          </td>
          </tr>
        </thead>
    </table>
  </div>
 </div>
</div>

<div *ngIf="tipo=='tabla'" class="row">
  <div class="col-12">
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
</div>  

<div *ngIf="tipo=='file'" class="row">
<div class="col-12">
      <p>Archivo a Bajar {{tipo}} : <a href="ftp://{{my_server_ip}}/pub/{{filedir}}" download>{{filedir}}</a></p>
  </div>
</div>
